/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styling */

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: rgb(0, 4, 17);
}

h1, h2, h3, h4, h5, h6, p, a, i, label {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 6.5rem;
    text-align: center;
    /* white-space: nowrap; */
}

h2 {
    padding: 2%;
    font-size: 5.5rem;
}

h3 {
    font-size: 4rem;
}

p, a, label {
    font-size: 2.5rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(0, 4, 17, 0.8);
}

nav {
    width: 100%;
}

.links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.social {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }


/* gallery section */
.gallery {
    width: 100%;
    height: 110vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.images {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.images img {
    padding: 1%;
    width: 25vw;
}
  
/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}


/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
}

.about-container .text {
    width: 50%;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    background-color: rgb(0, 4, 17);
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.left {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

.signUp input {
    width: 50%;
    line-height: 1.25;
    font-size: 2.5rem;
}

.signUp button {
    font-weight: bold;
    font-size: 2.5rem;
    width: 25%;
    padding: 0;
}


.right {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right p {
    font-size: 2rem;
    margin-top: 30px;
}

/* mobile media query */
@media (max-width: 428px) {
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 6rem;
    }

    p, a {
        font-size: 3rem;
    }
    
    /* header section */
    
    .links {
        flex-direction: column;
        align-items: center;
    }

    /* gallery section */
    .gallery {
        height: auto;
        padding: 0;
    }
    
    .images {
        width: 100%;
        flex-direction: column;
    }

    .images img {
        width: 100%;
        padding: 3% 0;
    }

    /* about us section */

    .about {
        height: 180vh;
    }
    
    .about h2 {
        width: 100%;
    }
    
    .about-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        width: 100%;
        height: 50vh;
        background-color: rgb(0, 4, 17);
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        display: flex;
        flex-flow: column nowrap;
    }

    .left {
        width: 100%;

    }

    .signUp {
        width: 90%;
        padding: 4%;
        flex-direction: column;
    }

    .signUp input {
        width: 100%;
    }

    .signUp button {
        width: 100%;
        font-weight: normal;
    }

    .right {
        width: 90%;
        margin: 1%;
        text-align: center;
    }

    
}
